.fighter-preview___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 250px;
  height: 100%;
  color: white;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root img{
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.fighter-preview___right img{
  transform: scaleX(-1);
}

.fighter-preview___info-text{
  margin: 0;
}
